<h1>Hair Salon Management</h1>
<p><a href="/doctors">View Stylists</a></p>
<p><a href="/patients">View Clients</a></p>
<p><a href="/doctors/new">Add new Stylist</a></p>
<p><a href="/patients/new">Add new Client</a></p>
