<h1>Doctor Office Portal!</h1>
<p><a href="/doctors">View Doctors</a></p>
<p><a href="/patients">View Patients</a></p>
<p><a href="/doctors/new">Add new Doctor</a></p>
<p><a href="/patients/new">Add new Patient</a></p>
