<h1>Hair Salon Management</h1>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/clients">View Clients</a></p>
<p><a href="/stylists/new">Add new Stylist</a></p>
<p><a href="/clients/new">Add new Client</a></p>
